<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EASYCONTROL</title>
    <link rel="stylesheet" href="../../frontend/assets/css/style.css">
    <!-- Font Awesome -->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
</head>
<body class="gradient">
<header>
      <nav class="navbar navbar-expand-md">
          <div class="container text-center">
            <h3 class="text-center mt-1 ml-5"><a href="/telaInicial" style="color:black;">EasyControl</a></h3>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal"><i class="fas fa-bars text-white "></i></button>
            <div class="collapse navbar-collapse" id="nav-principal">
              <ul class="navbar-nav ms-auto fonte-nav">
                <li class="nav-item ms-3"><a href="/ListarDrinks" class="nav-link text-warning">Est. Bebidas</a></li>
                <li class="nav-item ms-3"><a href="/ListarDoces" class="nav-link text-warning">Est. Doces</a></li>
                <li class="nav-item ms-3"><a href="/ListarCervejas" class="nav-link text-warning">Est. Cervejas</a></li>
                <li class="nav-item ms-3"><a href="/ListarRefrigerantes" class="nav-link text-warning">Est. Refrigerantes</a></li>
                <li class="nav-item ms-3"><a href="/login/logoff" class="nav-link text-warning">Logoff</a></li>
              </ul>
            </div>
          </div>
        </nav>
  </header>