<%- include('includes/head'); %>


<section class="mt-2">
    <div class="container-fluid text-center">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 my-5 d-flex flex-column  bd-highlight" >
                <h1 class="bd-highlight mb-4">Para acessar o Sistema use as seguintes credenciais de acesso:</h1>
                <div>
                    <p>usuário: Admin</p>
                    <p>senha: Administrator</p>
                </div>
                <div>
                    <p>Esse projeto foi realizado com aprendizados adquiridos de um curso que eu fiz.</p>
                    <p>Um projeto simples porém onde foi possível praticar o CRUD em NODE.JS com MongoDB.</p>
                    <p>Neste projeto foi utilizado, HTML5, CSS3, JS, Bootstrap, NODEJS, MONGODB e usando o padrão de projeto MVC.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>





<%- include('includes/footer'); %>